.header{
  width: 100%;
  /* 1rem para top. 1.5rem para right
  rem é uma medida relativa à fonte. Cada rem tem 16px  */
  padding: 1rem 1.5rem;

  background-color: var(--primary-color);

  /* Deixando o site responsivo para adaptar a qualquer dispositivo*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Regras de formatação para telas com tamanho menor que 786px */
@media screen and (max-width: 786px) {
  .header {
    justify-content: center;
  }
}
